nav {
    position: sticky;
    top: 0;
    z-index: 1;
}
nav .navbar-collapse {
    justify-content: end;
}
nav .navbar-nav {
    align-items: center;
}
nav .nav-connact {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
}
nav .nav-connact button {
    border: solid 1px black;
    position: relative;
    width: 130px;
    height:60px;
}
nav .nav-connact span {
    position: relative;
    font-size: 16px;
}
nav .nav-connact span::before {
    content: "GitHub Page";
    position: absolute;
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    transition: .4s;
    font-size: inherit;
    padding: 0;
    color: white;
}
nav .nav-connact button::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: #e2bf40;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
nav .nav-connact button:hover::before , nav .nav-connact button:hover span::before {
    width: 100%;
}